body {
  background-color: #2980b9;
}

.clock {
  border: 10px solid white;
  width: 30rem;
  height: 30rem;
  padding: 2rem;
  border-radius: 50%;
  margin: 4em auto;
  position: relative;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  top: 50%;
  position: absolute;
  height: 6px;
  background-color: white;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
  opacity: 50%;
  background-color: black;
}

.hour-hand {
  margin-left: 4.5em;
  width: 35%;
}